* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #DAFDBA;
  color: #012030;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}